# /etc/systemd/system/wireguard-knocking.service

[Unit]
Description=Wireguard Knocking

Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/wireguard-knocking
