# /etc/systemd/system/wireguard-knocking.timer
[Unit]
Description=Wireguard Knocking

[Timer]
OnCalendar=minutely
Persistent=true
OnBootSec=60s

[Install]
WantedBy=timers.target